
<div class="create-course-panel data-form">

  <h2 class="title">Create New Course</h2>

  <!-- [linear]="true" means, that the user can pass to step 2 after valid step 1 -->
  <mat-horizontal-stepper class="mat-elevation-z5" 
    labelPosition="bottom"
    [linear]="true">

    <!-- check that the form is valid in this step -->
    <mat-step [stepControl]="step1.form">
      <ng-template matStepLabel>Course landing page details</ng-template>

      <!-- access to the public variable form (default) in this component -->
      <create-course-step-1 #step1></create-course-step-1>

      <div class="stepper-buttons">
        <!-- mat-raised-button for styling -->
        <!-- matStepperNext navigation to next step btn -->
        <button mat-raised-button color="primary" matStepperNext>
          Continue to Step 2
        </button>
      </div>
    </mat-step>


    <mat-step>
      <ng-template matStepLabel>Course pricing details</ng-template>
      <create-course-step-2></create-course-step-2>

      <div class="stepper-buttons">
        <!-- matStepperPrevious for navigate back button -->
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" matStepperNext>
         Continue to step 3
        </button>
      </div>
    </mat-step>    

  </mat-horizontal-stepper>

</div>


